.springBeans
.classpath
.project
.freemarker-ide.xml
.settings/
.bin
.DS_Store
.vscode/
magnolia-activation-keypair.properties
/target
/src/main/webapp/cache
/src/main/webapp/logs
/src/main/webapp/repositories
/src/main/webapp/tmp
/src/main/resources/rebel.xml
frontend/bower_components
frontend/node_modules
/.idea